{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    <!-- {{ career-profile.summary | markdownify }} -->
    <p>
      <a href="https://www.yokohama-cu.ac.jp/" target="_blank" rel="noopener noreferrer">横浜市立大学</a> <a href="http://www.tsurumi.yokohama-cu.ac.jp/index.html" target="_blank" rel="noopener noreferrer">生命医科学研究科</a> 博士前期課程1年の学生です。<br>
      <a href="https://ycu-iil.github.io/cls-lab.jp.github.io/" target="_blank" rel="noopener noreferrer">生命情報科学研究室</a>に所属しています。<br>
      主に機械学習の創薬応用に関する研究を行っています。
    </p>
  </div><!--//summary-->

</section><!--//section-->
{% endif %}
