{% assign conferences = site.data.data.conferences %}
{% if conferences %}
<section class="section conferences-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ conferences.title }}
  </h2>

  {% if conferences.intro %}
  <div class="intro">
    {{ conferences.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}
  
    <!-- {% for conference in conferences.papers %}
  <div class="item">
    <li>{{ conference.title }}</li>
    <div class="conference-authors">{{ conference.authors }}</div>
    <div class="conference-conference">
      {% if conference.link %}
        <a href="{{ conference.link }}">{{ conference.conference }}</a>
      {% else %}
        {{ conference.conference }}
      {% endif %}
    </div>
  </div>//item
  {% endfor %} -->

  <div class="item">
    <li>
      <b><u>吉澤竜哉</u></b>, 石田祥一, 佐藤朋広, 寺山慧; <b>『Dscoreに基づく多目的最適化によるChemTSを用いた選択的阻害剤の設計』</b>; <a href="https://www.phar.kindai.ac.jp/qsar2021/index.html" target="_blank">第49回構造活性相関シンポジウム</a>, 2021/11/18
    </li>
  </div>

</section><!--//section-->
{% endif %}
