{% assign conferences = site.data.data.conferences %}
{% if conferences %}
<section class="section conferences-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-archive fa-stack-1x fa-inverse"></i>
    </span>
    {{ conferences.title }}
  </h2>

  {% if conferences.intro %}
  <div class="intro">
    {{ conferences.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}
  
    <!-- {% for conference in conferences.papers %}
  <div class="item">
    <li>{{ conference.title }}</li>
    <div class="conference-authors">{{ conference.authors }}</div>
    <div class="conference-conference">
      {% if conference.link %}
        <a href="{{ conference.link }}">{{ conference.conference }}</a>
      {% else %}
        {{ conference.conference }}
      {% endif %}
    </div>
  </div>//item
  {% endfor %} -->

  <div class="item">
    <ul>
      <li><b><u>吉澤竜哉</u></b>, 石田祥一, 佐藤朋広, 寺山慧; <b>『Dscoreに基づく多目的最適化によるChemTSを用いた選択的阻害剤の設計』</b>; <a href="https://www.phar.kindai.ac.jp/qsar2021/index.html" target="_blank" rel="noopener noreferrer">第49回構造活性相関シンポジウム</a>,KP-14(ポスター発表), 2021/11/18.</li>
      <li><b><u>吉澤竜哉</u></b>, 石田祥一, 佐藤朋広, 大田雅照, 本間光貴, 寺山慧; <b>『強化学習に基づく分子生成手法を用いた選択的阻害剤の設計』</b>; <a href="https://www.jsbi.org/iibmp2022-static/" target="_blank" rel="noopener noreferrer">第11回生命医薬情報学連合大会</a>, P-74(ポスター発表), 2022/9/13-15.</li>
      <li>【<b>優秀発表賞受賞</b>】<b><u>吉澤竜哉</u></b>, 石田祥一, 佐藤朋広, 大田雅照, 本間光貴, 寺山慧; <b>『強化学習に基づく分子生成手法を用いたキナーゼ選択的阻害剤の設計』</b>; <a href="http://www.bio.info.hiroshima-cu.ac.jp/qsar2022/" target="_blank" rel="noopener noreferrer">第50回構造活性相関シンポジウム</a>, KO-03(口頭発表), 2022/11/10-11.<br>(<a href="http://www.tsurumi.yokohama-cu.ac.jp/news/20230111hoshino_yoshizawa.html" target="_blank" rel="noopener noreferrer">受賞コメント</a>)</li>
    </ul>
  </div>

</section><!--//section-->
{% endif %}
