{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Experiences
  </h2>

<h4 class="category">研究活動</h4>
<div class="item">
  <ul>
    <li><h4 class="job-title">分子構造生成AIを用いた分子の性質の多目的最適化</h4></li>
      <p>
        分子構造生成AI*を用いて、多数の性質が同時に最適化された分子を設計しました。
        本研究の内容は、筆頭著者として<a href="https://doi.org/10.1021/acs.jcim.2c00787" target="_blank"><i>Journal of Chemical Information and Modeling</i></a>誌に掲載されました。
        また、<a href="http://www.tsurumi.yokohama-cu.ac.jp/news/20221124yoshizawa.html" target="_blank">大学のHP</a>にも掲載していただきました。<br>
        *) 分子構造生成AI: 望ましい性質を持つ新規な化合物の構造を仮想的に生成するAI</p>
    <li><h4 class="job-title">分子構造生成AIの開発</h4></li>
      <p>
        所属研究室で開発されている分子構造生成AIの機能拡張を行いました。私は本手法を多目的最適化に適用させるための機能を実装しました。
        本手法のソースコードは<a href="https://github.com/molecule-generator-collection/ChemTSv2" target="_blank">GitHub</a>にて公開されています。
    <li><h4 class="job-title">分子の性質を予測する機械学習モデルの実装</h4></li>
      <p>
        分子の薬としての効き具合や物性を予測する機械学習モデルを実装しました。ソースコードは<a href="https://github.com/ycu-iil/prediction_model_collection" target="_blank">GitHub</a>にて公開されています。
      </p>
  </ul>
</div><!--//item-->

<h4 class="category">その他の活動</h4>
<div class="item">
  <ul>
    <li><h4 class="job-title">YOKOHAMA D-STEP 受講</h4></li>
      <p>横浜市立大学主催のデータサイエンティスト育成プログラム <a href="https://d-step.yokohama/" target="_blank">YOKOHAMA D-STEP</a>に参加しています。
        本プログラムを通じて、統計学やデータのハンドリング方法、解析手法やその理論等に関して学習しています。
        また、<a href="https://d-step.yokohama/about/#pbl" target="_blank">PBL</a>を通じて、企業の実データの分析や、施策立案等を実施しています。
      </p>
    <li><h4 class="job-title">デザイン思考のワークショップにて優秀プレゼンテーション賞を受賞</h4></li>
      <p>
        横浜市立大学主催のデザイン思考ワークショップ「<a href="https://d-step.yokohama/about/#pbl" target="_blank">横浜市立大学サマーデザインワークショップ2022</a>」に企画を提案し、ファシリテーターとして参加しました。
        最終成果物の発表にて、12個の企画の中から優秀プレゼンテーション賞に選ばれました。
      </p>
  </ul>
</div><!--//item-->

</section><!--//section-->
<!-- {% endif %} -->

