{% assign experiences = site.data.data.experiences %}
{% if experiences %}
<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
    </span>
    Experiences
  </h2>

<style>/*
  {% for experience in experiences %}
  <div class="item">

    <div class="meta">

      <div class="upper-row">
        <h3 class="job-title">{{ experience.role }}</h3>
        <div class="time">{{ experience.time }}</div>
      </div><!--//upper-row-->

      <div class="company">{{ experience.company }}</div>

    </div><!--//meta-->

    {% if experience.details %}
    <div class="details">
      {{ experience.details | markdownify }}
    </div><!--//details-->
    {% endif %}

  </div>//item
  {% endfor %}
*/</style>

<h4 class="category">研究活動</h4>
<div class="item">

  <div class="meta">
    <div class="upper-row">
      <h4 class="job-title">分子構造生成AIを用いた分子の性質の多目的最適化</h4>
    </div><!--//upper-row-->
  </div><!--//meta-->
  <div class="details">
    <p>
      分子構造生成AI*を用いて、多数の性質が同時に最適化された分子を設計しました。
      本研究の内容は、<a href="https://doi.org/10.1021/acs.jcim.2c00787" target="_blank"><i>Journal of Chemical Information and Modeling</i></a>誌に掲載されました。
      また、<a href="http://www.tsurumi.yokohama-cu.ac.jp/news/20221124yoshizawa.html" target="_blank">大学のHP</a>にも掲載していただきました。<br></p>
    </p>*) 分子構造生成AI: 望ましい性質を持つ新規な化合物の構造を仮想的に生成するAI</p>
    
  </div><!--//details-->

<!-- <h3 class="category">その他の活動</h3> -->

</div><!--//item-->
</section><!--//section-->
{% endif %}

