{% assign publications = site.data.data.publications %}
{% if publications %}
<section class="section publications-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ publications.title }}
  </h2>

  {% if publications.intro %}
  <div class="intro">
    {{ publications.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  <div class="item">
    <ul>
      <li><b>学術論文</b></li>
        <ul>
          <li>S. Ishida, T. Aasawat, M. Sumita, M. Katouda, <b><u>T. Yoshizawa</u></b>, K. Yoshizoe, K. Tsuda, K. Terayama, <a href="https://doi.org/10.26434/chemrxiv-2023-mb880-v2" target="_blank" rel="noopener noreferrer"><b>"ChemTSv2: Democratizing Functional Molecular Design Using de novo Molecule Generator,"</b></a> <i>ChemRxiv</i> <b>2023</b>. (preprint)</li>
          <li><b><u>T. Yoshizawa</u></b>, S. Ishida, T. Sato, M. Ohta, T. Honma, K. Terayama, <a href="https://doi.org/10.1021/acs.jcim.2c00787" target="_blank" rel="noopener noreferrer"><b>"Selective Inhibitor Design for Kinase Homologs Using Multiobjective Monte Carlo Tree Search,"</b></a> <i>Journal of Chemical Information and Modeling</i> <b>2022</b>, <i>62</i>(22), 5351-5360.</li>
        </ul>
      <li><b>学会誌における解説</b></li>
        <ul>
          <li>石田祥一, <b><u>吉澤竜哉</u></b>, 寺山慧. <a href="https://doi.org/10.14894/sarnews.44.0_1" target="_blank" rel="noopener noreferrer"><b>深層学習と木探索に基づくde novo分子設計</b></a>, <i>SAR News</i> <b>2023</b>, 44.</li>
        </ul>
  </div>

</section><!--//section-->
{% endif %}
